.mainSection {
    width:75vw;
    height:75vh;
    margin:5rem auto 0;
    padding:0;
}

.title {
    text-align: center;
    font-size:2rem;
    margin-bottom:0.2rem;
    letter-spacing: 0.1rem;
}

.underline {
    width:6rem;
    height:0.3rem;
    background-color: #0a0ad8;
    margin:0 auto;
}

.calculator-grid {
    margin-top:2rem;
    background:linear-gradient(45deg, #0af5f5, #0a0ad8);
    display:grid;
    grid-template-columns: repeat(4,5rem);
    grid-template-rows: minmax(7rem, auto) repeat(5,4rem);
    gap: 0.2rem;
    justify-content:center;
    align-content: center;
    padding:2rem;
    border-radius:1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    font-size: 1.5rem;
}

.calculator-grid button {
    background-color: rgba(255,255,255,0.7);
    cursor:pointer;
    font:inherit;
    font-weight:bold;
    /*border-color:#f8f4f4; */
    border-style: none;
    outline:none; 
}

.span-two-ac {
    grid-column: 1/ span 2;
}

.span-two-eq {
    grid-column: 3/ span 2;
}

.calculator-grid button:hover,
.calculator-grid button:active {
    background-color:rgba(255,255,255,0.9);
    transition: all 0.3s ease-out;
}

.output {
    grid-column:1/-1;
    margin:0;
    /*width:100%; pak to presahne!!!!!!!!!!*/
    background-color:rgba(0,0,0,0.75);
    color:rgba(255,255,255,0.75);
    font:inherit;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content: space-around;
    padding:0.5rem;
    word-wrap:break-word;
    word-break:break-all;
}

.previous-operand {
    font-size:1rem;
}

.current-operand {
    font-size:1.5rem;
}
