@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: maroon;
  text-align: center;
  font-size: 200%;
}

